<!DOCTYPE <!DOCTYPE html>
<html>
    <%- include('.././layout/head') %>
    <!-- link to include dialouge nav options -->
<body>
    <!-- CSS BOX SURROUNDING DIALOUGE TEXT -->
    <p class="dialougebox">
    Deziree: This rain is awful, isn't it?
    Brian: The forecast said it would clear up after lunch.
    Deziree: I hope so, but at least it's warmer than where I'm from.
    Brian:  Really, where are you from?
    Deziree: I'm from Russia, it's freezing cold there!
    </p>
</body>
</html>