<!DOCTYPE <!DOCTYPE html>
<html>
    <%- include('.././layout/head') %>
    <!-- link to include dialouge nav options -->
<body>
    <!-- CSS BOX SURROUNDING DIALOUGE TEXT -->
    <p>
    Server: Can I get you anything to drink?
    Customer: Yes, may I have a glass of water please?
    Server: Would you like to start with an appetizer?
    Customer: Yes, what do you recommend?
    Server:  The mozzarella sticks are very popular.
    Customer: Okay, I'll take some!
    </p>
</body>
</html>