<!DOCTYPE <!DOCTYPE html>
<html>
    <%- include('.././layout/head') %>
    <!-- link to include dialouge nav options -->
<body>
    <!-- CSS BOX SURROUNDING DIALOUGE TEXT -->
    <p class="dialougebox">
      Ahmad: Good morning, Xia.  How are you?
      Xia:  I am well, and you?
      Ahmad:  I'm great, thank you.  This is my friend Shalom.
      Xia:  Hey Shalom, it's a pleasure to meet you.
      Shalom:  Nice to meet you too, Xia!  
    </p>
</body>
</html>
