<!DOCTYPE <!DOCTYPE html>
<html>
    <%- include('.././layout/head') %>
    <!-- link to include dialouge nav options -->
<body>
    <!-- CSS BOX SURROUNDING DIALOUGE TEXT -->
    <p>
    Andrew: Did you go to the football game on Saturday?
    Ryna: No, I had to work.
    Andrew: Aw, it was a really good game!
    Ryna:  Really, who won?
    Andrew:  The Huskies won. They beat the Cougars 47-16.
    </p>
</body>
</html>