<!DOCTYPE html>
<html>
<head>
        <%- include('.././layout/head') %>
        <link rel='stylesheet' href='/styles/aboutus.css'>
</head>
<body>
        <%- include('.././layout/header') %>
    <nav id="nav">
    <ul>
        <li>
        <h1>About Us</h1>
        
        <p>We are current 301 students who are working on a language garden project.This app helps you understand diffrent phrases and dialogues in diffrent languages and even help you save the one you want for reference.</p>
        <div id="img-container" class="view view-first">
            <img id="Ahmad" src="/Ahmed.jpg" alt=""  >
            <div class="mask">
            <h3>Ahmad Ali</h3>
            <p>Hello! My name is Ahmad Ali and I'm originally from Karachi, Pakistan, but my family and I came to the United States in '98 when I was only two years old. Before finding myself at Code Fellows, I was a personal trainer at 24 Hour Fitness, whilst also pursuing a degree in Business Management. I hope the path I am on now will prove to be useful and be of benefit to myself and the community around me.</p>
          </div>
        </div>


          <div class ="view view-first">
            <img id="Shalom" src="/shalina.jpg" alt="">
            <div class="mask">
            <h3>Shalom belaineh</h3>
            <p>I am orginally from ethiopia and i moved to the states before 4 years.I have my bachelor in Accounting but i was very curious to learn about technology thats why I am here in codefellow and am glad i made that decision.</p>
            </div>
            </div>

            <div class ="view view-first">
            <img  id="dez" src="/dez.jpg" alt="" >
            <div class="mask">
            <h3>Deziree Teague</h3>
            <p>Hi! my name is Deziree Teague and I’m from Seattle, Washington.  Before transitioning into software development, I spent 5 years traveling around the world as a bilingual educator.  I’m excited to pair my interpersonal skills and  international work experience with my newfound passion for coding</p>
            </div>
            </div>

            <div class="view view-first">
            <img src="/xia.jpg" alt="" id="my-image3">
            <div class="mask">
            <h3>Xia Liu</h3>
            <p>My name is Xia Liu and you can also call me Danielle. I'm originally from mainland China. I came to US in 2011 and currently live in WA state. After I graduated from the University of Florida in 2013, I enlisted in the US ARMY and stayed at Joint Base Lewis McChord in WA for about 2 years. I worked at SeaTac airport as a bilingual ambassdor for Customs Border and Protection Officers.</p>
            </div>
            </div>

           
   
   
</body>


</html>