<!DOCTYPE html>
<html>
<head>
        <%- include('.././layout/head') %>
</head>
<body>
    <nav id="nav">
    <ul>
        <li><a href="index.ejs">Home</a></li></ul>
        <h1>About Us</h1>
        <h3>Who we Are</h3>
        <p>We are current 301 students who are working on a project.</p>
    <div id="img-container">
            <img src="images/shalina.jpg" alt="" id="my-image1">
            <h3>shalom belaineh</h3>
            <p>I am orginally from ethiopia and i moved to the states before 4 years.</p>
            </div>
            <div class ="">
            <img src="" alt="" id="my-image2">
            <h3></h3>
            <p></p>
            </div>
            <div class="">
            <img src="" alt="" id="my-image3">
            <h3></h3>
            <p></p>
            </div>

            <img src="" alt="" id="my-image4">
    </div>
    </div>
    <div id="detail">
    </div>  
</body>


</html>