<!DOCTYPE html>
<html>

   <%- include('.././layout/head') %>

<body>
        <h6>Hello, <%=data%>!<br>Welcome ON Board!<br><a class="logout" href="/logout">LOGOUT</a></h6>
        <%- include('.././layout/header') %>

    <main>
        <a class="dialouges" href="../pages/dialouges/greetings.ejs">Greetings</a>
        <a class="dialouges" href="../pages/dialouges/weather.ejs">Weather</a>
        <a class="dialouges" href="../pages/dialouges/food.ejs">Food</a>
        <a class="dialouges" href="../pages/dialouges/sports.ejs">Sports</a>
    </main>

</body>
</html>