<!DOCTYPE html>
<html>

   <%- include('.././layout/head') %>

<body>
        <h6>Hello, <%=data%>!<br>Welcome ON Board!<br><a class="logout" href="/logout">LOGOUT</a></h6>
        <%- include('.././layout/header') %>

    <main>
        <a class="dialouges" href="/Greetings">Greetings</a>
        <a class="dialouges" href="/Weather">Weather</a>
        <a class="dialouges" href="/Food">Food</a>
        <a class="dialouges" href="/Sports">Sports</a>
        <a class="dialouges" href="/Directions">Directions</a>
    </main>

</body>
</html>