<!DOCTYPE html>
<html>
<!-- 
  <%- include('.././layout/head') %> -->
<head>
  <title>Greeting Game</title>    
</head>

<body>
		<header>
			<link rel="stylesheet" href="/styles/gaming.css">
			<h1>Greetings from Around the World</h1>
		</header>
	<div class="container">
    <div class="underscore">_ _ _ _</div>
    <div class="correctletters">Correct Letters</div>
    <div class="incorrectletters">Incorrect Letters</div>
	</div>

	<div id="countdown">
			<div id="countdown-number"></div>
			<svg>
				<circle r="18" cx="20" cy="20"></circle>
			</svg>
	</div>
	

</body>

<script src="/hangman.js"></script>
</html>