 <!DOCTYPE html>
<html>

   <%- include('.././layout/head') %>

<body>
    <h6>Hello, <%=data%>!<br>Welcome ON Board!<br><a class="logout" href="/logout">LOGOUT</a></h6>
    <%- include('.././layout/header') %>
</body>
</html>