 <!DOCTYPE html>
<html>

   <%- include('.././layout/head') %>

<body>
    <h6>Hello, <%=data%>!
    <br>Welcome on Board!<br>
    <a class="logout" href="/logout">logout</a></h6>
    <canvas id='s'>grass background</canvas>
</body>
    <%- include('.././layout/header') %>
    <script src="/grass.js"></script>
</html>