 <!DOCTYPE html>
<html>

   <%- include('.././layout/head') %>

<body>
    <h6>Hello, <%=data%>!
    <br>Welcome on Board!<br>
    <a class="logout" href="/logout">logout</a></h6>
    
</body>
    <%- include('.././layout/header') %>
</html>