 <!DOCTYPE html>
<html>

   <%- include('.././layout/head') %>
<hr class="linerule">
<body>
  
    <h6>Hello, <%=data%>!<br>Welcome on Board!<br><a class="logout" href="/logout">Logout</a></h6>
    <%- include('.././layout/header') %>
 
    <div id='phrasebox'>
      <p><h2>Your Favorite Phrases are Here</h2></p>
 
    <ul>
       <% phrasegoup.forEach(phr=>{ %>
     <li>
      <p class="ph"> <%=phr %></p>
    </li>

     <% }) %> 
    </ul>
  </div>
    <canvas id='s'>grass background</canvas>
    <script src="/grass.js"></script>
</body>
   
</html>