<!DOCTYPE html>
<html>
 
        <%- include('.././layout/head') %>
  <body>
    
    <!-- <%- include('.././layout/header') %> -->
    <canvas id='s'>grass background</canvas>
   <header>
    <h1>Secret Language Garden</h1>
  </header>
      <fieldset>
    
        <form action="/login" method="POST">

 
         <label class="username">Username

         <input  type='text' name='username' value="">
        </label>

        <label class="password">Password
        <input type="password" name="password" value="">
        </label>
        <button class="submitbtn">Log In</button>
        </form>

        <form id="signinform" action="/signup" method="GET">
          <button class="submitbtn" type="submit">Sign Up</button>
        </form> 
      
      </fieldset>
      <script src="/grass.js"></script>
  </body>
  
</html>