<!DOCTYPE html>
<html>
 
        <%- include('.././layout/head') %>
  <body>
    <header>
    <h1>Language Secret Garden</h1>
    </header>
      <h2>WELCOME!</h2>

      <fieldset>

        <form action="/login" method="post">

         <label class="username">USERNAME
         <input  type='text' name='username' value="">
        </label>

        <label class="password">PASSWORD
        <input type="password" name="password" value="">
        </label>
        <button class="submitbtn">Log In</button>

        </form>
      </fieldset>

  </body>
</html>