<!DOCTYPE html>
<html>
<head>
    <%- include('.././layout/head') %>
</head>
<body>
     <!-- <h1>Hi! Welcome!</h1> -->
     <canvas id='s'>grass background</canvas>
     <p>Sign up to gain access to the Secret Language Garden</p>
     <form  action='/signup' method="POST">
     <table>
         <tr>
         <td>Username: </td>
         <td>
            <input type="text" name="user" value="">
         </td>
        </tr>

        <tr>
         <td>Password: </td>
         <td>
            <input type="password" name="pw" value="">
        </td>
         </tr>
        <tr>
        <td>
           <button type="submit">Confirm</button>
        </td>
        </tr>
         
     </table>
    
</form>
<script src="/grass.js"></script>
</body>
</html>