@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Skranji|ZCOOL+KuaiLe");
@import url("https://fonts.googleapis.com/css?family=Oldenburg");
@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light");


  html {
    min-height: 150vw;
    position: relative;
  }

  header {
    margin-bottom: 10vh;
  }
  
  body {
    background-color: #999;
    color: white;
    text-align: center;
    overflow: auto;
    /* font-family: "Nunito", sans-serif; */
  }

  header > h1 {
    position: center;
    font-size: 6vw;
    text-align: center;

    /* margin-left: 4vw; */
    line-height: 10vw;
    font-family: 'Shadows Into Light', cursive;
    text-shadow: .5vw 0 black;
    /* font-family: "Oldenburg", cursive; */
  }
  
  h2{
    /* font-family: 'ZCOOL KuaiLe', cursive; */
    font-size: 3vw;
}

.username,.password{
  font-size: vw;
  margin: 1vw;
    /* font-family: 'Skranji', cursive; */
}

h6{
    position: absolute;
    float: left;
    font-size: 1.2vw;
    /* font-family: 'ZCOOL KuaiLe', cursive; */
}

nav{
  margin-top: 12vh;
  margin-bottom: 5vh;
}
.dialougebox {
  border-style: double;
}

ul {
  text-align: center;
}

#loginbox{
  display: grid;
  padding-top: 10vh;
}

#loginform {
  font-size: 2vw;
  display: grid;
}

#signupform {
  display: grid;
}

a {
  text-decoration: none;
  color: white;
  /* border: 1px solid red; */
  margin: 2vw;
  padding: 1vw;
  font-size: 1.5vw;
  
}

.submitbtn {
  margin: 1vw auto 0 auto;
  width: 8vw;
  display: grid;
}

a:hover {
  border-radius: 20%;
  background-color: rgb(99, 185, 106);
  border: none;
  text-align: center;
  font-size: 1.5vw;
  transition: all 0.5s;
}

input {
  border: none;
  padding: 1vw;
  border-radius: 5%;
}

#phrasebox {
  color: white;
  background-color: rgb(92, 90, 90, .4);
  /* border: 1px solid black; */
  padding: 3vw;
  margin-left: auto;
  margin-right: auto;
}

.savebutton {
  margin-top: 1vh;
  margin-left: 48%;
}