* {
    box-sizing: border-box;
}

body{
    display:flex;
    flex-direction: column;
    height:10vh;
    margin: auto;
    justify-content:space-between;
}

header,main,footer{
    width:100%;
}


