body { 
    /* background-color: black;  */
    margin: 0px; 
    overflow: auto;
    /* display: block;
    width: 100vw;
    height: 100vh;
    position: fixed; */
 }

textarea {
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
 }

.text {
    float: left;
}

#s {
    left: 0px;
    z-index: -1;
    position: absolute;
}

#help {
    z-index: 5;
    position: absolute;
}