body { 
    background-color: #000000; 
    margin: 0px; 
    overflow: hidden;
    /* display: block;
    width: 100vw;
    height: 100vh;
    position: fixed; */
 }

 .dialoguebox {
     display: none;

 }
 .dialoguebox1{
    display: none;

}
.dialoguebox2{
    display: none;

}
.dialoguebox3{
    display: none;

}
.dialoguebox4{
    display: none;

}

 #greetings {
     position: absolute;
     top: 50%;
     left: 50%;
     width: 5em;
     border: dotted 2px papayawhip;
 }