body { 
    /* background-color: black;  */
    margin: 0px; 
    overflow: auto;
    /* display: block;
    width: 100vw;
    height: 100vh;
    position: fixed; */
 }

.active{
    display: block;
}
 .dialoguebox {
     display: none;
  
 }
 .dialoguebox1{
    display: none;
 
}
.dialoguebox2{
    display: none;

}
.dialoguebox3{
    display: none;

}
.dialoguebox4{
    display: none;

}

 #greetings {
     position: absolute;
     top: 50%;
     left: 50%;
     width: 5em;
     border: dotted 2px papayawhip;
 }


textarea {
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
 }

.text {
    float: left;
}

#s {
    left: 0px;
    z-index: -1;
    position: absolute;
}

#help {
    z-index: 5;
    position: absolute;
}

