<header>
  <h1>Secret Language Garden</h1>
      <a class="links" href="/staylogin">Home</a>
      <a class="links" href="/AboutUs">Our Team</a>
      <a class="links" href="/phrases">Common Phrases</a>
      <a class="links" href="/dialogue">Sample Dialogues</a>
      <a class="links" href="/game">Game</a>
</header>