<header>
        <h1>Language Secret Garden</h1>
        
                <a class="links" href="/phrases">Phrases</a>
                <a class="links" href="/dialogue">Dialogue</a>
                <a class="links" href="/game">Game</a>
          
      
      </header>