<header>
  <h1>Secret Language Garden</h1>
  <nav>
    <a class="nav" href="/staylogin">Home</a>
    <a class="nav" href="/phrases">Common Phrases</a>
    <a class="nav" href="/dialogue">Sample Dialogues</a>
    <a class="nav" href="/game">Game</a>
    <a class="nav" href="/aboutus">Our Team</a>
  </nav>
</header>