<head>
        <title>Secret Language Garden</title>
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <meta charset="utf-">
        <link rel='stylesheet' href='/styles/reset.css'>
        <link rel='stylesheet' href='/styles/base.css'>
        <link rel="stylesheet" href="/styles/layout.css">
        <link rel="stylesheet" href="/styles/style.css">
      </head>